__pycache__/
MaRMAT.spec
build/MaRMAT/Analysis-00.toc
build/MaRMAT/base_library.zip
build/MaRMAT/EXE-00.toc
build/MaRMAT/MaRMAT.pkg
build/MaRMAT/PKG-00.toc
build/MaRMAT/PYZ-00.pyz
build/MaRMAT/PYZ-00.toc
build/MaRMAT/warn-MaRMAT.txt
build/MaRMAT/xref-MaRMAT.html
build/MaRMAT/localpycs/pyimod01_archive.pyc
build/MaRMAT/localpycs/pyimod02_importers.pyc
build/MaRMAT/localpycs/pyimod03_ctypes.pyc
build/MaRMAT/localpycs/pyimod04_pywin32.pyc
build/MaRMAT/localpycs/struct.pyc
dist/MaRMAT.exe
MaRMAT-min.spec
build/MaRMAT-min/Analysis-00.toc
build/MaRMAT-min/base_library.zip
build/MaRMAT-min/EXE-00.toc
build/MaRMAT-min/MaRMAT-min.pkg
build/MaRMAT-min/PKG-00.toc
build/MaRMAT-min/PYZ-00.pyz
build/MaRMAT-min/PYZ-00.toc
build/MaRMAT-min/warn-MaRMAT-min.txt
build/MaRMAT-min/xref-MaRMAT-min.html
build/MaRMAT-min/localpycs/pyimod01_archive.pyc
build/MaRMAT-min/localpycs/pyimod02_importers.pyc
build/MaRMAT-min/localpycs/pyimod03_ctypes.pyc
build/MaRMAT-min/localpycs/pyimod04_pywin32.pyc
build/MaRMAT-min/localpycs/struct.pyc
dist/MaRMAT-min.exe
